img {
    width: 100%;
}

body {
    font-family: "Helvetica Neue", "Helvetica Neue 97 Condensed Black Oblique", Helvetica, Arial, sans-serif;
    font-weight: 900;
    color: white;
    font-style: oblique;
    line-height: 1;
    background: url('media/img_3.png') no-repeat center center fixed;
    background-size: cover;
}

ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.container-fluid{
    position: relative;
    padding: 0 !important;
}
.nav{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 0;
}
.nav{
    background: url("media/img_2.png") no-repeat;
    margin: 60px auto;
    width: 960px;
    height: 104px;
}
.nav li a{
    text-decoration: none;
    color: white;
}
.top{
    margin: 6px 0 0 13px;
    width: 64px;
    height: 65px;
}
.portada_img{
    border-radius: 0 0 300px 300px;
    box-shadow: 0 0 10px 10px black;
}
.separator{
    visibility: hidden;
    position: absolute;
    bottom: -32px;
    left: 0;
    width: 100%;
}
.wrapper{
    text-align: center;
    margin: auto;
}

.formulario__container {
    width: 40%;
    margin: auto;
}

.portada_form {
    margin-bottom: -10px !important;
}

.formulario{
    padding: 10px 20px;
    background-image: url('media/img_4.png');
    background-size: contain;
    position: relative;
}

.form-group{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-group__item {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.form-group__item label {
    color: white;
}

.portada_form{
    margin: 0;
    padding: 0;
}
.footer{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 100px;
    background-color: black;
    height: 100px;
}
.footer p{
    margin: 20px;
    padding: 0;
    color: white;
}
.form_footer{
    position: absolute;
    bottom: -1px;
    right: 0;
}
