/* Reset básico */
body, h1, h2, p, form, input, select, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: burlywood;
    color: #333;
}

.header {
    display: flex;
    align-items: center;
    background-color: #3a4132;
    color: white;
    padding: 20px;
}

.logo img {
    height: 120px;
    margin-right: 20px;
}

.header-text {
    text-align: center;
}

.header-text h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

.header-text p {
    font-size: 16px;
    margin: 0; /* Quita márgenes adicionales */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.content {
    flex: 1;
    max-width: 600px;
    margin-right: 20px;
}

.banner {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.content h2 {
    font-size: 20px;
    color: #3a4132;
    margin-bottom: 10px;
}

.content p {
    font-size: 16px;
    line-height: 1.5;
}

.form-container {
    background-color: #f0f0f0; /* Fondo gris claro */
    padding: 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para efecto de elevación */
    max-width: 400px; /* Ancho máximo del formulario */
    margin: 20px auto; /* Centrar horizontalmente */
}

.form-container h2 {
    color: #2c3e50; /* Color del título */
    margin-bottom: 10px;
}

.form-container p {
    color: #7f8c8d; /* Color del subtítulo */
    font-size: 14px;
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #34495e;
}

.form-container input,
.form-container select {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    font-size: 14px;
}

.form-container button {
    background-color: #27ae60; /* Verde para el botón */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #2ecc71; /* Más claro al pasar el mouse */
}
