td{
    border: 1px solid black;
}
.ISO{
    background-color: red;
}
.GBD{
    background-color: blue;
}
.PAR{
    background-color: mediumpurple;
}
.FOL{
    background-color: green;
}
.FHW{
    background-color: pink;
}
.LM{
    background-color: darkorange;
}